@import 'normalize'

*
  box-sizing: border-box

body
  font-family: 'Roboto Condensed', sans-serif
  color: white
  user-select: none

.container
  height: 100%

.container.stopped
  background: #2283f6

.container.working
  background: #02cda0

.container.onBreak
  background: #fb3c4e

h1
  border-bottom: 1px solid
  margin: 0
  //padding: .5em
  display: flex
  justify-content: center
  align-items: center
  letter-spacing: .03em
  height: 10vh
  text-transform: uppercase


@media (min-width: 768px)
  .app
    padding-top: 8vh
  .container
    height: 100vh 



@import 'timer'
@import 'control'
